/* Cơ bản cho layout và màu sắc */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 20px;
}

/* Thay đổi cho phần header */
.navbar-brand {
    color: #f0ad4e !important; /* Màu cam sáng cho chữ */
    text-shadow: 0 0 5px #ffffff, 0 0

}

.sidebar .nav ul {
    list-style-type: none; /* Loại bỏ dấu tròn */
    padding: 0; /* Xóa khoảng cách padding */
}

.sidebar {
    background-color: #444;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 20px 10px;
    transition: all 0.3s ease;


}

.slidebar ul{
    list-style-type: none;
}


/* Animation khi hover vào các item */
.sidebar a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #555;
    margin: 0 -10px;
    padding: 10px 20px;
}

/* Icon trong sidebar */
.sidebar i {
    margin-right: 10px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #666;
    color: white;
}

.user-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.report-table th {
    background-color: #666;
    color: white;
}

.report-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.disable-account-btn {
    display: block;
    margin: 0 auto;
    background-color: #dc3545; /* Màu nền của nút */
    color: #fff; /* Màu chữ trên nền */
    border: none; /* Loại bỏ viền */
    padding: 10px 20px; /* Độ lớn của nút */
    border-radius: 5px; /* Đường cong viền */
    cursor: pointer; /* Hiệu ứng con trỏ khi rê chuột */
    font-size: 16px; /* Kích thước chữ */
    align-content: center;
}

.verified-account-btn{
    display: block;
    margin: 0 auto;
    background-color: #0d6efd; /* Màu nền của nút */
    color: #fff; /* Màu chữ trên nền */
    border: none; /* Loại bỏ viền */
    padding: 10px 20px; /* Độ lớn của nút */
    border-radius: 5px; /* Đường cong viền */
    cursor: pointer; /* Hiệu ứng con trỏ khi rê chuột */
    font-size: 16px; /* Kích thước chữ */
    align-content: center;
}

.verified-account-btn:hover {
    background-color: #084298; /* Màu nền của nút khi hover */
}

.disable-account-btn:hover {
    background-color: #c82333; /* Màu nền của nút khi hover */
}


/* Style cho button sidebar toggle */
.sidebar-toggle {
    position: fixed;
    left: 255px;
    top: 20px;
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  color: #007bff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination strong {
  background-color: #007bff;
  color: white;
  float: left;
  padding: 8px 16px;
}