body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C21;
    color: white;
    padding: 1em;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-left img, .header-right img {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.header-center {
    text-align: center;
}

.header-center h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #dc3545;
}

main {
    flex: 1;
    padding: 1em;
}

.product-img {
    max-width: 200px;
    height: auto;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.btn {
    padding: 8px 12px;
    border: 1px solid #1C1C21;
    background-color: #1C1C21;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

.order-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.order-category {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.order-category:hover {
    background-color: #ddd;
}

.order-category.active {
    background-color: #ccc;
}

.footer {
    margin-top: auto;
    background-color: #1C1C21;
    color: white;
    text-align: left;
    padding: 20px;
}

.footer-content h3, .footer-content a {
    margin: 5px 0;
    display: block;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
/* CSS cho modal */
.modal {
    display: none; /* Mặc định ẩn modal */
    position: fixed; /* Hiển thị modal ở giữa trang */
    z-index: 1; /* Hiển thị modal trên cùng */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Cho phép cuộn nếu nội dung quá dài */
    background-color: rgba(0,0,0,0.4); /* Màu nền xám và mờ */
    padding-top: 60px; /* Đẩy nội dung xuống phía dưới header */
}

/* CSS cho nội dung trong modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Canh giữa modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Độ rộng của modal */
}

/* CSS cho nút đóng modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CSS cho nút "Thêm Sản Phẩm" */
.addbutton button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
}

.addbutton button:hover {
    opacity: 0.8;
}

/* CSS cho các trường nhập liệu trong form */
.modal-content form label {
    display: block; /* Hiển thị mỗi label trên một dòng */
    margin-bottom: 10px; /* Khoảng cách giữa các label */
}

.modal-content form input,
.modal-content form textarea {
    width: calc(100% - 20px); /* Độ rộng của input, trừ điều chỉnh margin */
    margin-bottom: 20px; /* Khoảng cách giữa các trường nhập liệu */
    padding: 10px; /* Điều chỉnh độ rộng của trường nhập liệu */
}

.modal-content form button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin-top: 20px; /* Khoảng cách giữa button và các trường nhập liệu */
    border: none;
    cursor: pointer;
    width: calc(100% - 40px); /* Độ rộng của button, trừ điều chỉnh margin */
}



