body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-left img, .header-right img {
    height: 80px; /* Điều chỉnh kích thước của logo tại đây */
    width: auto;
    margin-right: 10px; /* Khoảng cách giữa logo và văn bản */
}

.header-center {
    text-align: center;
}

.header-center h1 {
    margin: 0;
    font-size: 24px; /* Điều chỉnh kích thước của tên trang web tại đây */
}

.header-center h3 {
    margin-top: 5px; /* Khoảng cách giữa tên trang web và tên phụ nhỏ */
    font-size: 14px; /* Điều chỉnh kích thước của tên phụ nhỏ tại đây */
}

.header-right span {
    margin-left: 10px; /* Khoảng cách giữa logo người dùng và dòng chào */
}


nav {
    background-color: #555;
    justify-content: flex-end;
    padding: 10px;
    text-align: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    color: chocolate; /* Màu chữ khi rê chuột qua */
    text-decoration: none;
}

nav p {
    margin-left: 20px; /* Khoảng cách giữa các mục */
    color: red; /* Màu chữ mặc định */
}

nav button {
    border: none; /* Loại bỏ viền */
    background: none; /* Loại bỏ nền */
    cursor: pointer; /* Hiển thị con trỏ tay khi di chuột qua */
    font-size: 18px; /* Kích thước font */
    color: #333; /* Màu chữ mặc định */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu chữ */
}

nav button:hover {
    color: chocolate; /* Màu chữ khi rê chuột qua */
}


.product-img {
    max-width: 200px; /* Điều chỉnh kích thước ảnh tại đây */
    height: auto;
}
table {
    border: 2px solid black; /* Đặt viền xung quanh bảng màu đen và đậm */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
    width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của container */
}

th, td {
    border: 1px solid black; /* Đặt viền cho từng ô màu đen và đậm */
    padding: 8px; /* Thêm padding để tạo khoảng cách giữa nội dung và viền */
}

.btn {
    padding: 8px 12px; /* Điều chỉnh kích thước nút */
    border: 1px solid #333;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btnn{
    padding: 8px 12px; /* Điều chỉnh kích thước nút */
    border: 1px solid #16ba27;
    background-color: #16ba27;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btnn:hover{
    background-color: #008000; /* Màu xanh lá đậm */
    border-color: #008000; /* Màu xanh lá đậm */
    color: white;
}

.order-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.order-category {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.order-category:hover {
    background-color: #ddd;
}

.order-category.active {
    background-color: #ccc;
}

.footer {
    margin-top: auto;
    background-color: #1C1C21;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content h3, .footer-content a {
    margin: 5px 0;
    display: block;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}


